/* local overrides */

.menu:not(.hidden) {
    display: flex;
    align-items: center;

    .menu__inner--desktop {
        flex: 1;
    }
}

.menu__github {
    flex-shrink: 0;
    margin-left: 20px;
    text-decoration: none;
    color: var(--accent);
    white-space: nowrap;

    @media (max-width: 683px) {
        display: none;
    }
}

.menu__sub-inner-more {
    position: absolute;
}
